@import "reset.css";
@import "fonts.css";
@import "style-db.css";
@import "style-dc.css";
@import "style-dd.css";
@import "style-de.css";
@import "style-df.css";
@import "style-dg.css";
@import "style-dh.css";
@import "style-di.css";
@import "style-dj.css";

.clear{
	clear: both;
}
.center{
	text-align: center;
}
.section__padding{
	padding: 25px 0px;
}

// Форма с двумя инпутами и кнопкой
.common-form{
	width: 210px;
	input[type="text"]{
		margin-bottom: 9px;
		width: 100%;
		height: 42px;
		background-color: white;
		border-radius: 5px;
		outline: none;
		border:none;
		text-transform: uppercase;
		font-size: 14px;
		color: black;
		text-align: center;
		font-family: "RobotoBold";
	}
	input[type="submit"]{
		width: 210px;
		height: 42px;
		background-color: #87d1dc;
		background-image: linear-gradient(to top, #abaa01 0%, #fffe54 100%);
		border-radius: 5px;
		text-transform: uppercase;
		color: black;
		font-size: 18px;
		border:none;
		outline: none;
		font-family: "RobotoBold";
		transition:0.7s;
	}
	input[type="submit"]:hover{
		background:#CEEF2E;
		transition:0.7s;
	}
}

// Желтый стронг
strong{
	color:yellow;
}

// Таймер
.dd-timer-all-wrap{
	width: 268px;
	text-align: center;
	.dd-timer{
		.dd-timer-title{
			font-family: "RobotoBold";
			color: white;
			font-weight: 700;
			line-height: 15px;
			text-transform: uppercase;
		}
		.dd-times{
			position:relative;
			.dd-div{
				background-color: white;
				border-radius: 5px;
				float: left;
				margin-left: 14px;
				height: 55px;
				width: 66px;
				position:relative;
				margin-top: 9px;
				span{
					color:black;
					font-size: 42px;
					font-weight: 500;
					line-height: 15px;
					text-shadow: 0 1px 0 black;
					font-family: "RobotoRegular";
					letter-spacing: 0px;
					padding-left: 0px;
					line-height: 55px;
				}
			}
			.dd-str{
				position:absolute;
				top:24px;
				z-index: 999;
				// outline: 2px solid blue;
			}

			.dd-tochki{
				float: left;
				margin-left: 14px;
				margin-top: 23px;
			}
			.no-margin{
				margin-left: 0;
			}
			.dd-time-txt{
				width: 51px;
				float: left;
				padding-left:9px;
				margin-bottom: 21px;
				span{
					font-size: 14px;
					font-weight: 400;
					text-transform: uppercase;
					line-height: 15px;
					color:#fff;
					font-family: "RobotoRegular";
				}
			}
			.dd-time-txt2{
				padding-left:55px;
			}
			.dd-time-txt3{
				padding-left:94px;
			}
		}
	}
}

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {

}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}


