.nabor__item {
	width: 220px;
	margin: auto;
	text-align: center;
	margin-bottom: 30px;
}
.nabor__imagebox {
	height: 200px;
	width: 100%;
}
.nabor__title {
	color: #383838;
	font-size: 18px;
	font-family: "RobotoBold";
}
.nabor__text {
	font-size: 14px;
	font-family: "RobotoRegular";
}
@media only screen and (min-width : 992px) {
	.nabor__imagebox {
		position: relative;
	}
	.nabor__imagebox:after {
		content: '';
		display: block;
		position: absolute;
		width: 32px;
		height: 28px;
		background: url(../img/orderarrow.png) 0 0 no-repeat;
		top: 50%;
		margin-top: -35px;
		left: 230px;
	}
	.last div.nabor__imagebox:after {
		display: none;
	}
}