.clear{
	clear: both;
}

/*===================style_diz==========*/

.df-styleitem{
	max-width: 265px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.df-imagebox{
	// height: 275px;
	height: 243px;	
	text-align: center;	
	max-width: 265px;	
	width: 100%;
	img{
		display: inline-block;
		width: 100%;
		height: auto;		
	}
}

.df-title{
	font-size: 18px;
	color:#000000;
	font-family: "RobotoBold";
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 17px;
}
.df-txt{
	font-size: 14px;
	color: #474747;
	font-family: "RobotoBold";
	line-height: 18px;
	max-width: 232px;
	margin: 0 auto;
}


.df-status{
	max-width: 1050px;
	width: 100%;
	margin: 0 auto;
	background-image: url("../img/bgstatus.png");
	background-position: center top;
	background-repeat: no-repeat;	
	height: 425px;
	padding-top: 50%;
	text-align: center;
}
.df-skew{
	max-width: 675px;
	width: 100%;
	margin: 0 auto;	
	padding: 5px 7px;
	background-color: #faf94f;
}
.df-border{
	text-align: center;
	border: 3px solid #fff;	
	padding: 9px 0;
}
.df-textbox{
	display: inline-block;
	font-size: 19px;
	color:#171717;
	font-family: "RobotoBold";
	text-transform: uppercase;	
	padding-left: 12px;   
}



/*===============katalog=============*/
.df-bg1{
	background-image: url("../img/dfbgkatalog.png");
	background-position: center top 112px;
	background-repeat: repeat-x;

}

.df-katalog{
	text-align: center;	
		h2{
		text-align: center;
		color: #2c2c2c;
		font-size: 24px;
		font-family: "RobotoBold";
		text-transform: uppercase;
		margin-bottom: 35px;		
	}
}

.df-galery-left{
	max-width: 465px;
	width: 100%;
	display: inline-block;
}
.df-gal-img{
	max-width: 330px;
	height: 330px;
	width: 100%;
	display: inline-block;
	border: 3px solid #4b5ca4;
	margin-top: -2px;
	border-radius: 20px;
	background-color: white;
	position: relative;
	img{
		position: absolute;
		left:50%;
		top:-90px;
		transform:translate(-50%,0);
	}
}
#df-secondboxborder{
	border: 3px solid #e0df3d;
}

.df-little-img{	
	width: 100%;
	display: inline-block;
	text-align: center;
	vertical-align: top;    
    margin-top: 54px;
}
.df-littleimg {
	border: 1px solid #4b5ca4;
	width: 103px;
	height: 98px;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 6px;
	display: inline-block;
	a{
		img{
			width: 100%;
			height: 95px;
		}
	}
}

.df-bordercolor{
	border: 1px solid #e0df3d !important;
}

.df-galery-right{
	max-width: 590px;
	width: 100%;
	display: inline-block;	
	vertical-align: top;
    padding-top: 39px;
    overflow: hidden;
    text-align: left;
}
.df-text-gal{
	line-height: 13px;
	margin-bottom: 4px;
}
.dftxt1{
	font-size: 14px;
	color: #000000;
	font-family: "RobotoBold";
	text-transform: uppercase;
	display: inline-block;	

}
.dftxt2{
	color: #b0b0b0;
	font-family: "RobotoBold";
	font-size: 14px;
	display: inline-block;
	display: none;
}
.dftxt3{
	font-size: 14px;
	color: #000000;
	font-family: "RobotoBold";
	display: inline-block;
	float: right;
	text-align: right;	
}


.df-text-gal2{
	margin-top: 17px;
}
.df-textLeft{
	font-size: 14px;
	color: #000000;
	font-family: "RobotoBold";
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	margin-right: 12px;
}
.df-textRight{
	color: #595959;
	font-size: 14px;
	font-family: "RobotoBold";	
	display: inline-block;
	max-width: 415px;
	width: 100%;
	b{
		text-transform: uppercase;
	}
}



/*=============popup==========*/
.df-popup{
	max-width: 925px;
	width: 100%;
	max-height: 417px;
	height: 100%;
	margin: 0 auto;
	border-radius: 20px;
	box-shadow: 0 0 139px #000002;
	padding: 40px 37px 33px 0;
	position: relative;
}
.df-leftbox{
	text-align: center;
	max-width: 510px;
	width: 100%;
	position: absolute;
	left: 30px;
	top:57px;
	background-color: #fff;
}
.dfpopup1{
	font-size: 18px;
	color: #b5b5b5;
	font-family: "RobotoRegular";
	text-decoration: line-through;
	display: block;
}
.dfpopup2{
	font-size: 14px;
	color: #323232;
	font-family: "RobotoBold";	
	display: inline-block;
}
.dfpopup3{
	font-size: 30px;
	color: #fe0000;
	font-family: "RobotoBold";
	display: inline-block;	
	em{
		font-size: 18px;
		font-family: "RobotoRegular";
	}
}
.df-imgpopup{
	height: 240px;
	margin-top: -15px;
	img{
		width: 100%;
		display: inline-block;
		vertical-align: top;
	}
}


.df-right{
	max-width: 570px;
	width: 100%;
	text-align: right;
	padding:45px 25px 45px 0;	
	float: right;
	border: 4px solid #d3d3d3;
	h4{
		font-family: "RobotoBold";	
		font-size: 18px;
		color: #101010;
		text-align: center;
	}
	.common-form{
		text-align: center;		
		margin: 0 auto;
		margin-top: 35px;
		input[type="text"]{
			border: 1px solid #9f9f9f;
		}
	}
}
.dfrightwidth{
	float: right;
	max-width: 325px;
	width: 100%;
}

.dd-close{
	position: absolute;
	top:10px;
	right: 10px;
	cursor: pointer;	
}


#mask { position:absolute;
	left:0;
	top:0;
	z-index:9000;
	background-color:#000;
	width: 100%; 
	height: 100%; 
	display:none; }

.window{ 
	display: none;	
	position: absolute;
	left:0;  
	top:15%;
	z-index:9998;
	background: white; 	
	.form-wrap-main{
		border:1px solid grey;
		background: #fff;
		border-radius:10px;
		padding: 10px;
	}	
}
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
	.df-status{				
		padding-top: 30%;		
	}
}

@media only screen and (min-width : 768px) {
	.df-little-img{
		max-width: 115px;		
	    margin-left: 15px;
	    margin-top: 14px;
	}
}

@media only screen and (min-width : 992px) {
	.df-skew{		
		transform: skewX(-20deg);		
	}
	.df-border{		
		transform: skewX(-1deg);		
	}
	.df-textbox{		
		font-size: 39px;
		transform: skewX(21deg);
		 line-height: 50px;		
	}
	.df-status{		
		height: 425px;
		padding-top: 155px;	
		margin:-40px 0 0 62px;		
	}

	/*katalog*/
	.df-galery-right{		
		margin-left: 50px;		
	}
	.df-katalog{		
		margin-bottom: 22px;
			h2{			
			padding-left: 70px;
		}
	}
}

@media only screen and (min-width : 1248px) {
	.dfmargintop{
		margin-top: 37px;
	}
}
