
// bg tech.php
.black-bg{
	background: black;
	padding: 100px 0px;
}
.dd-m0auto{
	margin: 0 auto;
}
.txt-center{
	text-align:center;
}

/* Шапка
==============================*/

.dd-header-container{
	max-width:976px;
	width: 100%;
	margin: 0 auto;
}
.section__header{
	background: url(../img/headerbg.jpg) no-repeat top center;
	background-size: cover;
	width: 100%;
	padding-top: 46px;
}
.dd-header-title{
	font-family: "Robotobold";
	// font-size: 48px;
	font-size:28px;
	color: #ffcc3c;
	text-align:center;
	text-transform: uppercase;
}
.dd-header-slogan{
	font-family: "Robotobold";
	font-size: 24px;
	color: #fff;
	text-align:center;
	padding-bottom: 10px;
}
.dd-header-box{
	font-family: "Robotobold";
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	text-align:center;
}
.dd-header-box{
	margin-bottom: 27px;
}
.dd-price{
	border:3px solid #FFCC1B;
	padding: 10px 20px;
	max-width:498px;
	margin: 26px auto;
	text-align:center;
	span:first-child{
		text-decoration: line-through;
		font-family: "RobotoRegular";
		font-size: 32px;
		color: #cbcbcb;
	}
	span:nth-child(2){
		font-size: 48px;
		text-transform: uppercase;
		font-family: "RobotoBold";
		color:#fff;
	}
	span:nth-child(3){
		font-family: "RobotoRegular";
		font-size: 36px;
		color:white;
	}
}
.dd-big-box{
	display:none;
}

/* Акция
===========================*/
.actsia-wrap{
	// padding-top: 95px;
	padding-top: 30px;
	padding-bottom: 27px;
	background: url(../img/footerbg.jpg) no-repeat top center;
	background-size: cover;
	width: 100%;
}
.dd-actsia-container{
	max-width:926px;
	margin: 0 auto 40px;
}
.dd-actsia-box{
	text-align:center;
	span{
		display: block;
	}
	span:nth-child(1){
		color: #fffd00;
		font-size: 48px;
		font-family: "RobotoBold";
	}
	span:nth-child(2){
		// font-size: 55px;
		font-size: 30px;
		color: white;
		text-transform: uppercase;
		font-family: "RobotoBold";
	}
	span:nth-child(3){
		color: white;
		font-size: 24px;
		// font-size: 34px;
		font-family: "RobotoLight";
	}
	span:nth-child(4){
		margin-top: 18px;
		color: white;
		text-transform: uppercase;
		font-family: "RobotoBold";
		// font-size: 29px;
		font-size: 22px;
	}
	span:nth-child(5){
		color: #fffd00;
		font-size: 29px;
		text-transform: uppercase;
		font-family: "RobotoBold";
	}
}

/* Успей
===========================*/
.hurry__wrap{
	background: url(../img/fiveclocksbg.jpg) no-repeat top center;
	width: 100%;
	background-size: cover;
	padding: 25px 10px 32px;
}
.hurry__wrap__container{
	max-width: 980px;
	margin:0 auto;
}
.dd-hurry-main-txt{
	span{
		display: block;
	}
	span:nth-child(1){
		font-family: "RobotoBold";
		font-size: 24px;
		color: #f7f54c;
		text-transform: uppercase;
	}
	span:nth-child(2){
		color: white;
		font-size: 36px;
		font-family: "RobotoBold";
		text-transform: uppercase;
	}
}
.dd-pr{
	color: #b5b5b5;
	font-size: 18px;
	text-decoration: line-through;
	text-transform: uppercase;
	font-family: "RobotoRegular";
}
.dd-old-price{
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	font-family: "RobotoBold";
}
.dd-new-price{
	padding-bottom: 35px;
	span{
		text-transform: uppercase;
		font-size: 30px;
		font-family: "RobotoBold";
		color:#fff;
		span{
			font-size: 18px;
			font-family: "RobotoRegular";
			text-transform: uppercase;
		}
	}
}
.hurry-img{
	display: none;
}
.dd-spasibo{
	border:2px solid black;
	padding: 25px 15px;
	border-radius:15px;
	max-width:600px;
	margin:250px auto;
	text-align:center;
	span{
		text-transform: uppercase;
		display: block;
	}
	span:nth-child(1){
		font-size: 30px;
		font-family: "RobotoBold";
		color:black;
	}
	span:nth-child(2){
		font-size: 25px;
		font-family: "RobotoRegular";
		color:black;
	}
}
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
	.dd-header-title{
		font-size: 48px;
	}
}

@media only screen and (min-width : 768px) {
	.dd-actsia-box{
		span:nth-child(2){
			font-size: 55px;
		}
		span:nth-child(3){
			font-size: 34px;
		}
		span:nth-child(4){
			font-size: 29px;
		}
	}
	.dd-header-box{
		float: left;
		margin-left: 70px;
	}
	.ml-none{
		margin-left: 0;
	}
	.box-wrap{
		width: 628px;
		margin: 0 auto;
		padding-left: 28px;
	}
	.dd-price{
		text-align: unset;
	}
	.dd-pad{
		padding-top: 3px;
	}
	.dd-pad2{
		padding-top: 5px;
	}
	.dd-box-img1{
		margin-bottom: 19px;
	}
}


@media only screen and (min-width : 992px) {
	.dd-header-container{
		background: url(../img/headerbg.png) no-repeat top 58px center;
		height: 809px;
	}
	.section__header{
		position:relative;
		height: 1243px;
	}
	.dd-actsia-container{
		background: url(../img/s.png) no-repeat top 22px center;
		height: 294px;
	}

	// hurry
	.dd-hurry-main-txt{
		width: 388px;
	}
	.my-float-left{
		float:left;
	}
	.my-float-right{
		float:right;
	}
	.txt-center{
		text-align: left;
	}
	.dd-pr{
		margin-bottom: 10px;
	}
	.hurry__wrap__container{
		background: url(../img/b.png) no-repeat right center;
		height: 442px;
		padding-right: 82px;
		padding-top: 24px;
		padding-left: 58px;
		position:relative;
		.hurry-img{
			display: block;
			position:absolute;
			bottom:-30px;
			left:-9px;
		}
	}
}

@media only screen and (min-width : 1248px) {
	.dd-big-box{
		display:block;
		position:absolute;
		bottom:-60px;
		left:-100px;
	}
}

